@charset "UTF-8";

/*  #gameboard {
    display: none;
} 

#gameboard:visited {
    display: block;
}

*/

.speech-bubble {
    z-index: 1;
    position: absolute;
    float: left;
    margin-left: 100px;
    margin-top: 175px;
	background: #edd085;
    border-radius: .4em;
    padding: 12px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-left-color: #edd085;
	border-right: 0;
	border-bottom: 0;
	margin-top: -15px;
	margin-right: -30px;
}